<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
    	
	<!-- Loading the properties file -->
	<context:property-placeholder location="classpath:application.properties" />
	
	<!-- bean definitions here -->
	
	<bean id="myMoodIsHappy" class="com.abdul.models.HappyMoodService" />
	
	<bean id="myMoodIsSad" class="com.abdul.models.SadMoodService" />
	
	<bean id="employed" class="com.abdul.models.Employee" scope="prototype" init-method="login" destroy-method="destroy">
		<constructor-arg ref="myMoodIsHappy" />
		<property name="empId" value="${emp.id}" />
		<property name="empName" value="${emp.name}" />
	</bean>
	
	<bean id="unemployed" class="com.abdul.models.UnEmployed" scope="singleton">
		<property name="sadMoodService" ref="myMoodIsSad" />
	</bean>
	
	<!-- Bean custom processor to handle calling destroy methods on prototype scoped beans -->
    <bean id="customProcessor" class="MyCustomBeanProcessor">
   	</bean>
    
</beans>